 <body class="maintenance-page">
        <div class="container text-center">
            <div class="divide80"></div>
            <h1><a href="index.html">Atlanta Bread of Life Christian Church</a></h1>
            <hr>
            <div class="divide40"></div>
            <div class="main-text">
                Our website is under maintenance<br>
                <span>We are back after sometime.</span>
            </div>
            <div class="divide80"></div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-6 margin40">
                            <div class="maintenance-box">
                                <i class="fa fa-warning"></i>
                                <h4>Reason the site down?</h4>
                                <p>
                                    We are in process of developing for you to use :)
                                </p>
                            </div><!--maintenance box-->
                        </div>
                        <div class="col-sm-6 margin40">
                            <div class="maintenance-box">
                                <i class="fa fa-clock-o"></i>
                                <h4>Estimate downtime?</h4>
                                <p>
                                    1-2 Weeks
                                </p>
                            </div><!--maintenance box-->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
