<div class="divide100">


                <div class="col-md-12 margin20">
                    <h1 class="wow animated bounceInUp animated heading"> Our Pastors</h1>
                </div>
        
            <div class="row">


                <div class="col-md-6">
                    <%= image_tag "pastors.jpg", :class=>"img-responsive" %>
                </div>

                <div class="col-md-6 margin20">
                    <h3 class="heading">A little about us</h3>
                    <p align="left">
                       Insert brief introduction for the pastors.
                       <br>
                    </p>
                </div>

            </div><!--about intro-->


</div>